[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "normality"]
	path = normality
	url = https://github.com/p10911004-npust/normality
[submodule "outlying"]
	path = outlying
	url = https://github.com/p10911004-npust/outlying
[submodule "varequal"]
	path = varequal
	url = https://github.com/p10911004-npust/varequal
[submodule "venny"]
	path = venny
	url = https://github.com/p10911004-npust/venny
